
.vf_itinerary_table td {
  padding: 4px;
  border: solid 1px black;
}
  
.vf_itinerary_button { 
  text-decoration: none;
  border: 3px solid black;
  background-color: white;
  color: black;
  display: inline-block;
  padding: 3px 10px;
  cursor: pointer;
}
.vf_itinerary_button:hover { 
  background-color: #ccc;
}
.vf_itinerary_remove_button:hover {
  background-color: #fcc;
}
.vf_itinerary_add_button:hover {
  background-color: #cfc;
}

